_global:
  # 启动端口,仅限在通过python main.py 启动时生效
  port: 8001
module:
  qq:
    enable: True
  yiyan:
    enable: True
  ip:
    # ip接口 默认关闭, 请确保完成 README 需要的ip库再开启.
    enable: False
    key: 
  randimg:
    enable: True
  ua:
    enable: True