blacksheep==2.0.8
uvicorn==0.34.0
geoip2==5.0.1
msgspec==0.19.0
webp-support==0.2.8
nazo-rand==0.1.1
nazo-image-utils==0.0.5
nazo-ip2asn==0.0.4
# ujson==5.7.0
tqdm==4.67.1
python-dotenv==1.0.1
uvloop